* {
     box-sizing: border-box;
 }

 html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 255);

}
h1,h3,h4,h5 {
    font-family: Bungee Inline;
    text-align: center;
}
h2{
    font-family: Bungee Inline, sans-serif;
    font-size: 2vw;
    text-align: center;
    letter-spacing: -0.02em;
    border-bottom: rgb(0, 153, 255) solid 2px;}

    body {
    line-height: 1.6; 

 width: 100vw;

    color: #333;
    background-color: #f7f7f7;
    font-family: montserrat;


}

.inp{
    padding: 1rem;
    font-size: 1vw;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
h1 {
     letter-spacing: -0.02em;
}
p{
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    
    
}
a{
    letter-spacing: .1rem;
    margin-top: 0;
    font-size: 1vw;
}
h4{
 color:white; font-size: 2rem; margin-top: .7em;
    font-family: Crimson Text, sans-serif;
    text-align: center;
    border-bottom: #ffffffc0 solid 2px;
}
.P-con{
        display: grid;
        flex-direction: unset;
        align-items: center;
        justify-items: center;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

      .P-card{
    display:flex; 
    cursor: pointer;
    flex-direction: column; 
    align-self: center;
    width: 90%; 
    background-color: rgb(252, 252, 252); 
    box-shadow: 1px 1px 8px rgb(107, 107, 107); 
    border: 0px black solid; 
    border-radius: 10px; 
    align-items: center;
    margin-bottom: 8em;
    margin-top: 2em;
    min-height: 30rem;
 }
 
      .P-card img {

    max-height: 50%;
    max-width: 98%;
 }

 @keyframes swimming {
    0%{    top:85vh; 
     left:1.78vw;}
     20%{    
        top:82vh; 
     left:11vw; }
      40%{
            top:95vh; 
     left:40vw;
      }
       60%{    top:89vh; 

     left:60vw;}
     70%{    top:95vh; 

     left:70vw;}
        80%{    top:84vh; 
     left:80vw;}
        100%{    top:99vh; 
     left:100vw; display: none;}
 }

 @keyframes fade {
   0%{
   color: rgba(19, 19, 19, 0);
    
   }
   90%{
    color: rgba(19, 19, 19, 0.7);
   }
      100%{
    color: rgba(19, 19, 19, 0.788);
   }
 }

  @keyframes fade2 {

  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
 }
 #guy{
    position: absolute; 
    z-index: 0;
    animation: swimming 15s infinite linear;
 }
#intro{
    font-size: 5rem; margin-top: 8rem; color: rgba(19, 19, 19, 0.7); margin-bottom: 5rem;
    animation: fade 1s ease-in-out ;
}
#tit{
    font-family: Monoton; font-size: 8vw; margin-top: 0; border: none; color: rgb(28, 37, 61); margin: 0; padding: 0;
    animation: fade2 2s ease-in-out;
}
